<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="InternetBanking">
    <test name="logintest">
        <parameter name="BrowserName" value="firefox"></parameter>
        <classes>
            <class name="com.netbanking.Testclasses.LoginTest"></class>

        </classes>
    </test>

    <test name="managertest">
        <parameter name="BrowserName" value="firefox"></parameter>
        <classes>
            <class name="com.netbanking.Testclasses.ManagerPageTest"></class>

        </classes>
    </test>


</suite>